socialtravelbooking.click {
    # Backend API
    handle /api/* {
        reverse_proxy backend:8000 {
            header_up X-Forwarded-Proto https
        }
    }

    # Images (Lưu tại backend)
    handle /images/* {
        reverse_proxy backend:8000 {
            header_up X-Forwarded-Proto https
        }
    }

    # WebSocket (Reverb)
    handle /app/* {
        reverse_proxy backend:8080 {
            header_up X-Forwarded-Proto https
        }
    }
    
    # Frontend (Mặc định)
    handle {
        reverse_proxy frontend:80
    }
}
